.centernav-container {
  margin: 20px 0;
  display: flex;
  font-size: 14px;
}

.centernav-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.7;
}

.centernav-breadcrumb {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.centernav-breadcrumb p {
  font-size: 14px;
  margin-right: 5px;
}

.centernav-breadcrumb .breadcrumb-arrow {
  color: var(--color-primary);
  font-size: 18px;
}

.centernav-center .centernav-searchbox {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: all 100ms ease-in;
}

.centernav-center .centernav-searchbox.active {
  border: 1px solid var(--color-primary);
  border-radius: 5px;
}

.centernav-center .centernav-searchbox input {
  display: none;
  margin-left: 10px;
  background: none;
  text-decoration: none;
  border: 0;
  min-width: 50px;
  outline: 0;
  color: #ffffff;
  min-width: 175px;
  width: 100%;
}

.centernav-center .centernav-searchbox.active input {
  display: block;
}
