:root {
  --color-primary: #2dbc58;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  background: #000000;
  color: #ffffff;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 30px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    font-size: 18px;
  }

  h1 {
    font-size: 21px;
  }

  h2 {
    font-size: 18px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
